# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Node & Build output
node_modules/
dist/
dist-ssr/
*.local
.next/
.out/
.vite/

# OS
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*.local

# Editor configs
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# TypeScript
*.tsbuildinfo

# Cache
.pnpm-store/
.cache/